
# Rust
/target
/*/target
**/*.rs.bk

# Python
__pycache__/

/.vscode

# Trained Networks
/networks/backup/*
## This one is just too large for git
/networks/n_tuple_medium*

# Plotly plots
temp-plot.html
